Adafruit-Blinka==8.54.0
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-connectionmanager==3.1.3
adafruit-circuitpython-dht==4.0.7
adafruit-circuitpython-requests==4.1.9
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.77.0
Adafruit-PureIO==1.1.11
annotated-types==0.7.0
anyio==4.8.0
binho-host-adapter==0.1.6
black==25.1.0
click==8.1.8
colorzero==2.0
fastapi==0.115.11
gpiozero==2.0.1
h11==0.14.0
idna==3.10
iniconfig==2.0.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pydantic==2.10.6
pydantic_core==2.27.2
pyftdi==0.56.0
pyserial==3.5
pytest==8.3.4
pyusb==1.3.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
sniffio==1.3.1
starlette==0.46.0
sysv_ipc==1.1.0
typing_extensions==4.12.2
uvicorn==0.34.0
